/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$white-color};
  --global-code-bg-color: #f4f4f5;
  --global-text-color: #09090b;
  --global-text-color-light: #71717a;
  --global-theme-color: #{$my-color};
  --global-hover-color: #1d4ed8;
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #18181b;
  --global-footer-text-color: #a1a1aa;
  --global-footer-link-color: #e4e4e7;
  --global-distill-app-color: #71717a;
  --global-divider-color: #e4e4e7;
  --global-card-bg-color: #{$white-color};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}
